<p>
  <b>Project:</b>
  <%=h @todo_list.project_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @todo_list.title %>
</p>

<p>
  <b>Position:</b>
  <%=h @todo_list.position %>
</p>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
